<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="DeepLinkRegistryEntries" Guid="24b24bc1-8389-4ac7-bde7-99f078440507">
      <RegistryKey
          Root="HKCR"
          Key="sparrow\shell\open\command"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="&quot;[INSTALLDIR]Sparrow.exe&quot; &quot;%1&quot;"
            KeyPath="yes"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKCR"
          Key="sparrow"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="Sparrow"
          />
          <RegistryValue
            Type="string"
            Name="URL Protocol"
            Value=""
          />
        </RegistryKey>

      </Component>
      
      <!-- All Group Policy Registry Keys in this component -->
      <Component Id="GroupPolicyRegistryEntries" Guid="7f8c6b29-f208-42e3-b207-93b7d07856e8">

      <!-- LOgin Feature -->
      <RegistryKey
          Root="HKLM"
          Key="SOFTWARE\Policies\Sparrow\Login"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="integer"
            Name="EnableLogin"
            Value="1"
          />
      </RegistryKey>

        <!-- AI Features -->
        <RegistryKey
          Root="HKLM"
          Key="SOFTWARE\Policies\Sparrow\AI"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="integer"
            Name="EnableAIAssistance"
            Value="1"
            KeyPath="yes"
          />
        </RegistryKey>
        
        <!-- Workspaces -->
        <RegistryKey
          Root="HKLM"
          Key="SOFTWARE\Policies\Sparrow\Workspaces"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="integer"
            Name="RestrictPublicWorkspaceCreation"
            Value="0"
          />
        </RegistryKey>
        
        <!-- ActiveSync -->
        <RegistryKey
          Root="HKLM"
          Key="SOFTWARE\Policies\Sparrow\ActiveSync"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="integer"
            Name="DisableActiveSync"
            Value="0"
          />
        </RegistryKey>
        
        <!-- Hubs -->
        <RegistryKey
          Root="HKLM"
          Key="SOFTWARE\Policies\Sparrow\Hubs"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="integer"
            Name="HubCreationAllowed"
            Value="1"
          />
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <!-- Creating a Feature for both types of registry settings  for future purpose-->
    <!-- <Feature Id="RegistryEntries" Title="Registry Configuration" Level="1">
      <Feature Id="DeepLinkFeature" Title="Protocol Handler" Level="1">
        <ComponentRef Id="DeepLinkRegistryEntries" />
      </Feature>
      
      <Feature Id="GroupPolicyFeature" Title="Group Policies" Level="1">
        <ComponentRef Id="GroupPolicyRegistryEntries" />
      </Feature>
    </Feature> -->
  </Fragment>
</Wix>