.login-form{
    width: 400px;
    .form-group{
        margin-top: 15px;
        label{
            margin-bottom: 5px;
        }
        .btn{
            width: 100%;
        }
        .googleBt{
            background-color: white;
        }
    }
}
