@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$primary: #007bff;
$secondary: #f9b001;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary
  ));


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap";