@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap");
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$sparrow-blue: #007bff;
$sparrow-yellow: #f9b001;
$sparrow-black: #000000;
$sparrow-success: #8dc599;
$sparrow-error: #e5acb2;
$sparrow-default: #45494d;
$sparrow-danger: #fe8c98;
$sparrow-white: #ffffff;
$sparrow-light-gray: #cccccc;
$sparrow-gradient: red;
$sparrow-background: #19191A;
$sparrow-primary-btn: #1193F0;
$sparrow-background-light: #1E1E1E;
$sparrow-background-dark: #1E1E1E;
$sparrow-background-dropdown :#141414;
$sparrow-plusbutton: #85c2ff;
$sparrow-border-color: #313233;
$sparrow-get: #69d696;
$sparrow-put: #9685ff;
$sparrow-post: #ffe47e;
$sparrow-delete: #ff7878;
$sparrow-trac: #fba574;
$sparrow-head: #69d696;
$sparrow-con: #58c6b9;
$sparrow-patc: #df77f9;
$sparrow-opt: #f15ea5;
$sparrow-arc: #8a9299;
$sparrow-request-body: #8a9299;
$sparrow-send-button: #85C2FF;
$sparrow-send-hoverbutton: #04416d;
$sparrow-button-background: #2d2c2c;
$sparrow-button-color: #e5e5e5;
$sparrow-input-slider-button: #1d3650;
$sparrow-dull-background: #232424;
$sparrow-bottom-border: #85c2ff;
$sparrow-cancel-hover: #31323360;
$sparrow-delete-hover: #f16674;
$sparrow-background-hover: rgba(0, 0, 0, 0.706);
$sparrow-button-pressed: #1d3650;
$sparrow-text-color: #8a9299;
$sparrow-key-value-pair: #262626;
$sparrow-selectedSideBarTab: #11253a;
$sparrow-selectedSideBarTab: #11253a;
$sparrow-recentApiText: #f3e4e4d7;
$sparrow-errorTextColor:#fe8c98;

:root {
  --blackColor: #{$sparrow-black};
  --recentApiText: #{$sparrow-recentApiText};
  --primary-btn-color: #{$sparrow-primary-btn};
  --success-color: #{$sparrow-success};
  --button-color: #{$sparrow-request-body};
  --send-button: #{$sparrow-send-button};
  --send1-hoverbutton: #{$sparrow-send-hoverbutton};
  --white-color: #{$sparrow-white};
  --background-color: #{$sparrow-background};
  --dull-background-color: #{$sparrow-dull-background};
  --background-light: #{$sparrow-background-light};
  --background-dark: #{$sparrow-background-dark};
  --background-dropdown: #{$sparrow-background-dropdown};
  --border-color: #{$sparrow-border-color};
  --request-get: #{$sparrow-get};
  --request-put: #{$sparrow-put};
  --request-post: #{$sparrow-post};
  --request-delete: #{$sparrow-delete};
  --request-arc: #{$sparrow-arc};
  --request-trac: #{$sparrow-trac};
  --request-head: #{$sparrow-head};
  --request-con: #{$sparrow-con};
  --request-patc: #{$sparrow-patc};
  --request-opt: #{$sparrow-opt};
  --workspace-hover-color: #{$sparrow-plusbutton};
  --sparrow-bottom-border: #{$sparrow-bottom-border};
  --sparrow-input-slider-button: #{$sparrow-input-slider-button};
  --dangerColor: #{$sparrow-danger};
  --cancel-hover: #{$sparrow-cancel-hover};
  --delete-hover: #{$sparrow-delete-hover};
  --background-hover: #{$sparrow-background-hover};
  --button-pressed: #{$sparrow-button-pressed};
  --keyvalue-pair: #{$sparrow-key-value-pair};
  --selected-active-sidebar: #{$sparrow-selectedSideBarTab};
  --sparrow-blue: #{$sparrow-blue};
  --sparrow-button-background: #{$sparrow-button-background};
  --error--color:#{$sparrow-errorTextColor};
}

// $button-color: linear-gradient(270deg, #6147ff -1.72%, #1193f0 100%);

$theme-colors: map-merge(
  $theme-colors,
  (
    "primaryColor": $sparrow-blue,
    "recentApiText": $sparrow-recentApiText,

    "secondaryColor": $sparrow-yellow,
    "blackColor": $sparrow-black,
    "successColor": $sparrow-success,
    "borderColor": $sparrow-error,
    "defaultColor": $sparrow-default,
    "dangerColor": $sparrow-danger,
    "whiteColor": $sparrow-white,
    "lightGray": $sparrow-light-gray,
    "backgroundColor": $sparrow-background,
    "backgroundLight": $sparrow-background-light,
    "backgroundDark": $sparrow-background-dark,
    "backgroundDropdown": $sparrow-background-dropdown,
    "plusButton": $sparrow-plusbutton,
    "lightBackground": $sparrow-border-color,
    "requestBodyColor": $sparrow-request-body,
    "labelColor": $sparrow-send-button,
    "buttonBackColor": $sparrow-button-background,
    "buttonColor": $sparrow-button-color,
    "redColor": $sparrow-gradient,
    "getColor": $sparrow-get,
    "putColor": $sparrow-put,
    "postColor": $sparrow-post,
    "deleteColor": $sparrow-delete,
    "headColor": $sparrow-head,
    "patchColor": $sparrow-patc,
    "optionsColor": $sparrow-opt,
    "textColor": $sparrow-text-color,
    "keyValuePairColor": $sparrow-key-value-pair,
    "dullBackground": $sparrow-dull-background,
    "sparrowBottomBorder": $sparrow-bottom-border,
  )
);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap";

body{
  background-color: var(--background-color);
}
.border-error {
  border-color: $sparrow-error;
  border-width: 3px;
}

.border-success {
  border-color: $sparrow-success;
  border-width: 1px;
}

.border-default {
  border-color: $sparrow-default;
  border-width: 1px;
}

.border-color {
  border-color: #313233;
  width: 1px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sparrow-thin-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.sparrow-thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}