@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap");
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$sparrow-blue: #007bff;
$sparrow-yellow: #f9b001;
$sparrow-black: #000000;
$sparrow-success: #8dc599;
$sparrow-error: #e5acb2;
$sparrow-default: #45494d;
$sparrow-danger: #fe8c98;
$sparrow-white: #ffffff;
$sparrow-light-gray: #cccccc;
$sparrow-gradient: red;
$sparrow-background: #19191a;
$sparrow-primary-btn: #1193f0;
$sparrow-background-light: #1e1e1e;
$sparrow-background-dark: #1e1e1e;
$sparrow-background-dropdown: #141414;
$sparrow-plusbutton: #85c2ff;
$sparrow-border-color: #313233;
$sparrow-get: #69d696;
$sparrow-put: #9685ff;
$sparrow-post: #ffe47e;
$sparrow-delete: #ff7878;
$sparrow-trac: #fba574;
$sparrow-head: #69d696;
$sparrow-con: #58c6b9;
$sparrow-patc: #df77f9;
$sparrow-opt: #f15ea5;
$sparrow-arc: #8a9299;
$sparrow-request-body: #8a9299;
$sparrow-send-button: #85c2ff;
$sparrow-send-hoverbutton: #04416d;
$sparrow-button-background: #2d2c2c;
$sparrow-button-color: #e5e5e5;
$sparrow-button-disabled: #636566;
$sparrow-input-slider-button: #1d3650;
$sparrow-dull-background: #232424;
$sparrow-bottom-border: #85c2ff;
$sparrow-cancel-hover: #31323360;
$sparrow-delete-hover: #f16674;
$sparrow-background-hover: rgba(0, 0, 0, 0.706);
$sparrow-button-pressed: #1d3650;
$sparrow-text-color: #8a9299;
$sparrow-key-value-pair: #262626;
$sparrow-selectedSideBarTab: #11253a;
$sparrow-selectedSideBarTab: #11253a;
$sparrow-recentApiText: #f3e4e4d7;
$sparrow-errorTextColor:#fe8c98;
$sparrow-editor-operator-color: #FE2E2E;
$sparrow-editor-bool-color: #82DB42;
$sparrow-editor-name-color: #9CDCFE;
$sparrow-editor-varible-color: #ECCD43;
$sparrow-editor-bracket-color: #9217F6;
$sparrow-editor-square-bracket-color: #FF8000;
$sparrow-editor-number-color: #8DC599;
$sparrow-editor-angle-bracket-color: #636566;
$sparrow-editor-tag-color: #246BB8;
$sparrow-editor-string-color: #CE9178;
$sparrow-email-invite-bg-color:#1E1E1E;
$sparrow-dropdown-border-color:rgb(44, 44, 44);
$sparrow-small-text-size: 0.75rem;
$sparrow-base-text-size: 0.875rem;
$sparrow-medium-text-size: 1.125rem;
$sparrow-right-click-menu:#232527;
$sparrow-active-sync:#8DC599;
$deleted-api-method: #939699;
$button-active: #1D3650;
$right-border: #313233;


$theme-grey-ffffff:#ffffff;
$theme-grey-8A9299:#8A9299;
$theme-grey-45494D:#45494D;
$theme-grey-313233:#313233;
$theme-grey-272727:#272727;
$theme-grey-212222:#212222;
$theme-grey-1A1A1A:#1A1A1A;
$theme-grey-161617:#161617;
$theme-grey-151515:#151515;
$theme-grey-000000:#000000;

$theme-blue-9CDCFE:#9CDCFE;
$theme-blue-1193F0:#1193F0;
$theme-blue-5980DC:#5980DC;
$theme-blue-3670F7:#3670F7;
$theme-blue-0B5ED7:#0B5ED7;
$theme-blue-2B5ED4:#2B5ED4;


$theme-violet-22232E:#22232E;
$theme-violet-272831:#272831;
$theme-violet-2E2F3D:#2E2F3D;
$theme-violet-1c1d27:#1c1d27;

$theme-red-e5acb2:#e5acb2;
$theme-red-fe8c98:#fe8c98;
$theme-red-ff7878:#ff7878;
$theme-red-f16674:#f16674;
$theme-red-fc6574:#fc6574;
$theme-red-ef5262:#ef5262;
$theme-red-f34b5c:#f34b5c;
$theme-red-f33346:#f33346;
$theme-red-fe2e2e:#fe2e2e;


:root {
  --blackColor: #{$sparrow-black};
  --defaultcolor: #{$sparrow-default};
  --recentApiText: #{$sparrow-recentApiText};
  --primary-btn-color: #{$sparrow-primary-btn};
  --success-color: #{$sparrow-success};
  --button-color: #{$sparrow-request-body};
  --send-button: #{$sparrow-send-button};
  --send1-hoverbutton: #{$sparrow-send-hoverbutton};
  --white-color: #{$sparrow-white};
  --background-color: #{$sparrow-background};
  --dull-background-color: #{$sparrow-dull-background};
  --background-light: #{$sparrow-background-light};
  --background-dark: #{$sparrow-background-dark};
  --background-dropdown: #{$sparrow-background-dropdown};
  --border-color: #{$sparrow-border-color};
  --request-get: #{$sparrow-get};
  --request-put: #{$sparrow-put};
  --request-post: #{$sparrow-post};
  --request-delete: #{$sparrow-delete};
  --request-arc: #{$sparrow-arc};
  --request-trac: #{$sparrow-trac};
  --request-head: #{$sparrow-head};
  --request-con: #{$sparrow-con};
  --request-patc: #{$sparrow-patc};
  --request-opt: #{$sparrow-opt};
  --workspace-hover-color: #{$sparrow-plusbutton};
  --sparrow-bottom-border: #{$sparrow-bottom-border};
  --sparrow-input-slider-button: #{$sparrow-input-slider-button};
  --dangerColor: #{$sparrow-danger};
  --cancel-hover: #{$sparrow-cancel-hover};
  --delete-hover: #{$sparrow-delete-hover};
  --background-hover: #{$sparrow-background-hover};
  --button-pressed: #{$sparrow-button-pressed};
  --keyvalue-pair: #{$sparrow-key-value-pair};
  --selected-active-sidebar: #{$sparrow-selectedSideBarTab};
  --sparrow-blue: #{$sparrow-blue};
  --sparrow-button-background: #{$sparrow-button-background};
  --editor-operator:#{$sparrow-editor-operator-color};
  --editor-bool:#{$sparrow-editor-bool-color};
  --editor-name:#{$sparrow-editor-name-color};
  --editor-variable:#{$sparrow-editor-varible-color};
  --editor-bracket:#{$sparrow-editor-bracket-color};
  --editor-square-bracket:#{$sparrow-editor-square-bracket-color};
  --error--color: #{$sparrow-errorTextColor};
  --sparrow-text-color:#{$sparrow-text-color};
  --editor-number:#{$sparrow-editor-number-color};
  --editor-angle-bracket:#{$sparrow-editor-angle-bracket-color};
  --editor-tag-color: #{$sparrow-editor-tag-color};
  --editor-string-color: #{$sparrow-editor-string-color};
  --base-text: #{$sparrow-base-text-size};
  --small-text: #{$sparrow-small-text-size};
  --medium-text: #{$sparrow-medium-text-size};
  --right-click-menu : #{$sparrow-right-click-menu};
  --button-disabled: #{$sparrow-button-disabled};
  --active-sync-btn: #{$sparrow-active-sync};
  --deleted-api-method: #{$deleted-api-method};
  --button-active: #{$button-active};
  --right-border: #{$right-border};

  //
  //
  // Sets text color 
  //
  //
  --text-primary-100 : #{$theme-blue-9CDCFE};
  --text-primary-200 : #{$theme-blue-1193F0};
  --text-primary-300 : #{$theme-blue-3670F7};
  --text-primary-400 : #{$theme-blue-0B5ED7};
  
  --text-secondary-100 : #{$theme-grey-ffffff};
  --text-secondary-200 : #{$theme-grey-8A9299};
  --text-secondary-300 : #{$theme-grey-45494D};
  --text-secondary-400 : #{$theme-grey-313233};
  --text-secondary-500 : #{$theme-grey-272727};
  --text-secondary-600 : #{$theme-grey-212222};
  --text-secondary-700 : #{$theme-grey-161617};
  --text-secondary-800 : #{$theme-grey-151515};
  --text-secondary-900 : #{$theme-grey-000000};

  --text-tertiary-400 : #{$theme-violet-22232E};
  --text-tertiary-500 : #{$theme-violet-272831};
  --text-tertiary-600 : #{$theme-violet-2E2F3D};
  --text-tertiary-700 : #{$theme-violet-1c1d27};

  //
  //
  // Sets background color
  //
  //
  --bg-primary-100 : #{$theme-grey-ffffff};
  --bg-primary-200 : #{$theme-grey-8A9299};
  --bg-primary-300 : #{$theme-grey-45494D};
  --bg-primary-400 : #{$theme-grey-313233};
  --bg-primary-500 : #{$theme-grey-272727};
  --bg-primary-550 : #{$theme-grey-1A1A1A};
  --bg-primary-600 : #{$theme-grey-212222};
  --bg-primary-700 : #{$theme-grey-161617};
  --bg-primary-800 : #{$theme-grey-151515};
  --bg-primary-900 : #{$theme-grey-000000};
  
  --bg-secondary-100 : #{$theme-blue-9CDCFE};
  --bg-secondary-200 : #{$theme-blue-1193F0};
  --bg-secondary-250 : #{$theme-blue-5980DC};
  --bg-secondary-300 : #{$theme-blue-3670F7};
  --bg-secondary-400 : #{$theme-blue-0B5ED7};
  --bg-secondary-500 : #{$theme-blue-2B5ED4};

  --bg-tertiary-400 : #{$theme-violet-22232E};
  --bg-tertiary-500 : #{$theme-violet-272831};
  --bg-tertiary-600 : #{$theme-violet-2E2F3D};
  --bg-tertiary-700 : #{$theme-violet-1c1d27};

  //
  //
  // Sets border color
  //
  //
  --border-primary-100 : #{$theme-blue-9CDCFE};
  --border-primary-200 : #{$theme-blue-1193F0};
  --border-primary-300 : #{$theme-blue-3670F7};
  --border-primary-400 : #{$theme-blue-0B5ED7};

  --border-secondary-100 : #{$theme-grey-ffffff};
  --border-secondary-200 : #{$theme-grey-8A9299};
  --border-secondary-300 : #{$theme-grey-45494D};
  --border-secondary-400 : #{$theme-grey-313233};
  --border-secondary-500 : #{$theme-grey-272727};
  --border-secondary-600 : #{$theme-grey-212222};
  --border-secondary-700 : #{$theme-grey-161617};
  --border-secondary-800 : #{$theme-grey-151515};
  --border-secondary-900 : #{$theme-grey-000000};

  --border-tertiary-400 : #{$theme-violet-22232E};
  --border-tertiary-500 : #{$theme-violet-272831};
  --border-tertiary-600 : #{$theme-violet-2E2F3D};
  --border-tertiary-700 : #{$theme-violet-1c1d27};
}

// $button-color: linear-gradient(270deg, #6147ff -1.72%, #1193f0 100%);

$theme-colors: map-merge(
  $theme-colors,
  (
    "primaryColor": $sparrow-blue,
    "recentApiText": $sparrow-recentApiText,

    "secondaryColor": $sparrow-yellow,
    "blackColor": $sparrow-black,
    "successColor": $sparrow-success,
    "borderColor": $sparrow-error,
    "defaultColor": $sparrow-default,
    "dangerColor": $sparrow-danger,
    "whiteColor": $sparrow-white,
    "lightGray": $sparrow-light-gray,
    "backgroundColor": $sparrow-background,
    "backgroundLight": $sparrow-background-light,
    "backgroundDark": $sparrow-background-dark,
    "backgroundDropdown": $sparrow-background-dropdown,
    "plusButton": $sparrow-plusbutton,
    "lightBackground": $sparrow-border-color,
    "requestBodyColor": $sparrow-request-body,
    "labelColor": $sparrow-send-button,
    "buttonBackColor": $sparrow-button-background,
    "buttonColor": $sparrow-button-color,
    "redColor": $sparrow-gradient,
    "getColor": $sparrow-get,
    "putColor": $sparrow-put,
    "postColor": $sparrow-post,
    "deleteColor": $sparrow-delete,
    "headColor": $sparrow-head,
    "patchColor": $sparrow-patc,
    "optionsColor": $sparrow-opt,
    "textColor": $sparrow-text-color,
    "keyValuePairColor": $sparrow-key-value-pair,
    "dullBackground": $sparrow-dull-background,
    "sparrowBottomBorder": $sparrow-bottom-border,
    "emailInviteBackgroundColor":$sparrow-email-invite-bg-color,
    "dropdownBorderColor":$sparrow-dropdown-border-color,
    "activeSyncBtn": $sparrow-active-sync
  )
);


// Define a map for font sizes in pixels
$sparrow-font-sizes: (
  8: 0.5rem, // 8px in rem
  9: 0.5625rem, // 9px in rem
  10: 0.625rem, // 10px in rem
  11: 0.6875rem, // 11px in rem
  12: 0.75rem, // 12px in rem
  13: 0.8125rem, // 13px in rem
  14: 0.875rem, // 14px in rem
  15: 0.9375rem, // 15px in rem
  16: 1rem, // 16px in rem
  17: 1.0625rem, // 17px in rem
  18: 1.125rem, // 18px in rem
  19: 1.1875rem, // 19px in rem
  20: 1.25rem, // 20px in rem
  28: 1.75rem, // 28px in rem
  36: 2.25rem // 36px in rem
);

// Define a map for border radius in pixels
$sparrow-border-radius: (
  1: 1px, 
  2: 2px, 
  3: 3px, 
  4: 4px, 
  5: 5px, 
  6: 6px, 
);

// Define a map for text colors
$sparrow-text-colors: (
  primary-100 : $theme-blue-9CDCFE,
  primary-200 : $theme-blue-1193F0,
  primary-300 : $theme-blue-3670F7,
  primary-400 : $theme-blue-0B5ED7,
  
  secondary-100 : $theme-grey-ffffff,
  secondary-200 : $theme-grey-8A9299,
  secondary-300 : $theme-grey-45494D,
  secondary-400 : $theme-grey-313233,
  secondary-500 : $theme-grey-272727,
  secondary-600 : $theme-grey-212222,
  secondary-700 : $theme-grey-161617,
  secondary-800 : $theme-grey-151515,
  secondary-900 : $theme-grey-000000,

  tertiary-400 : $theme-violet-22232E,
  tertiary-500 : $theme-violet-272831,
  tertiary-600 : $theme-violet-2E2F3D,
  tertiary-700 : $theme-violet-1c1d27,
);

// Define a map for background colors
$sparrow-bg-colors: (
  primary-100 : $theme-grey-ffffff,
  primary-200 : $theme-grey-8A9299,
  primary-300 : $theme-grey-45494D,
  primary-400 : $theme-grey-313233,
  primary-500 : $theme-grey-272727,
  primary-550 : $theme-grey-1A1A1A,
  primary-600 : $theme-grey-212222,
  primary-700 : $theme-grey-161617,
  primary-800 : $theme-grey-151515,
  primary-900 : $theme-grey-000000,
  
  secondary-100 : $theme-blue-9CDCFE,
  secondary-200 : $theme-blue-1193F0,
  secondary-250 : $theme-blue-5980DC,
  secondary-300 : $theme-blue-3670F7,
  secondary-400 : $theme-blue-0B5ED7,
  secondary-500 : $theme-blue-2B5ED4, 
  
  tertiary-400 : $theme-violet-22232E,
  tertiary-500 : $theme-violet-272831,
  tertiary-600 : $theme-violet-2E2F3D,
  tertiary-700 : $theme-violet-1c1d27,
);


// Define a map for border colors
$sparrow-border-colors: (
  primary-100 : $theme-blue-9CDCFE,
  primary-200 : $theme-blue-1193F0,
  primary-300 : $theme-blue-3670F7,
  primary-400 : $theme-blue-0B5ED7,

  secondary-100 : $theme-grey-ffffff,
  secondary-200 : $theme-grey-8A9299,
  secondary-300 : $theme-grey-45494D,
  secondary-400 : $theme-grey-313233,
  secondary-500 : $theme-grey-272727,
  secondary-600 : $theme-grey-212222,
  secondary-700 : $theme-grey-161617,
  secondary-800 : $theme-grey-151515,
  secondary-900 : $theme-grey-000000,

  tertiary-400 : $theme-violet-22232E,
  tertiary-500 : $theme-violet-272831,
  tertiary-600 : $theme-violet-2E2F3D,
  tertiary-700 : $theme-violet-1c1d27,
);

// Generate utility classes
  @each $size, $value in $sparrow-font-sizes {
    .sparrow-fs-#{$size} {
      font-size: $value;
    }
    .text-fs-#{$size} {
      font-size: $value;
    }
  }
  @each $radius, $value in $sparrow-border-radius {
    .border-radius-#{$radius} {
      border-radius: $value;
    }
  }
  @each $color, $value in $sparrow-text-colors {
    .text-#{$color} {
      color: $value;
    }
  }
  @each $background, $value in $sparrow-bg-colors {
    .bg-#{$background} {
      background-color: $value;
    }
  }
  @each $border, $value in $sparrow-border-colors {
    .border-#{$border} {
      border-color: $value;
    }
  }

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap";

body, .splitpanes.default-theme .splitpanes__pane {
  background-color: var(--background-color) !important;
}

p, h1, h2, h3, h4, h5, h6, a, li, span{
  word-wrap: break-word;
}

.border-error {
  border-color: $sparrow-error;
  border-width: 3px;
}

.border-success {
  border-color: $sparrow-success;
  border-width: 1px;
}

.border-default {
  border-color: $sparrow-default;
  border-width: 1px;
}

.border-color {
  border-color: #313233;
  width: 1px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//
//
// global scroll bar customization
//
//
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  cursor: pointer;
}

.env-highlight {
  &.env-found {
    color: #9CDCFE;
  }

  &.env-not-found {
    color: #FE8C98;
    cursor: pointer;
  }

  &.hover-found {
    color: #9CDCFE;
  }

  &.hover-not-found {
    color: #FE8C98;
    background-color: #230408;
  }
}

textarea {
  resize: none;
}
.splitpanes__splitter{
  background-color: var(--border-color) !important;
  border: none !important;
}
.splitpanes__splitter:active, .splitpanes__splitter:hover{
  background-color: var(--primary-btn-color) !important;
}