@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Source+Serif+4:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img,
a {
  user-drag: none; /* Standard syntax */
  -webkit-user-drag: none; /* Safari and older versions of Chrome */
}
